html
{
  background-color: #ffe;
  font-family: Helvetica,Geneva,Arial,SunSans-Regular,sans-serif;
}

input.CCButton
{
  color: black;
  background-color: #9bf;
  padding: 3px 8px;
}

input.CCButton:disabled
{
  color: #888;
  background-color: #bdf;
  padding: 3px 8px;
}

