html
{
  background-color: #e5d697;
  font-family: Helvetica,Geneva,Arial,SunSans-Regular,sans-serif;
}

input.CCButton
{
  color: white;
  background-color: #179600;
  padding: 3px 8px;
}

input.CCButton:disabled
{
  color: #ccc;
  background-color: #179600;
  padding: 3px 8px;
}

.visualization
{
  color: #179600;
}
